* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*===== NAVIGATION =====*/
nav {
  display: flex;
  justify-content: space-between;
  background-color: #000;
}

nav ul {
  margin-left: 50px;
}

nav ul li {
  display: inline-block;
  padding: 12px 0px;
}

nav ul li a {
  text-decoration: none;
  padding: 12px 16px;
}

nav ul li a.active {
  background-color: yellowgreen;
  color: #fff !important;
}

.switch-mode {
  margin-right: 200px;
  line-height: 45px;
  text-decoration: none;
}

/*===== PLAYER CARD =====*/
.container {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 10px;
}

.container .column {
  width: calc(100% / 3);
  padding: 8px;
}

.container .column img {
  width: 100%;
}

.container .card {
  background-color: #eee;
  text-align: center;
}

.container h3 {
  margin-top: 4px;
}

.container .card p {
  margin-top: 12px;
}

.container .card button {
  width: 100%;
  background-color: #000;
  border: none;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}

/*===== FOOTER =====*/
footer {
  background-color: yellowgreen;
  color: #fff;
  text-align: center;
  padding: 8px;
}

/*===== MODAL =====*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img {
  width: 100%;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
